<body>
  <form action="/logout" method="post">
  <div style="text-align: right; /* display: inline; */">
    <h4 style="display: inline-block; padding-right: 1.5%">Hello, <%=user.email%></h4>
    <button type="submit">Log out</button></form>
  </div>
</body>
