<%- include('partials/header') %>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>
<div class="box">
    <!-- Update action and method attributes -->
    <form action="/delete" method="post">
        <% for (let i = 0; i < newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox" name="checkbox" />
            <p><%= newListItems[i].name %></p>
        </div>
        <% } %>
    </form>
</div>
<div class="box">
    <div class="box">
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New item" autocomplete="off" />
            <button class="list" type="submit" name="list">+</button>
        </form>
    </div>
</div>
<%- include('partials/footer') %>
