.container {
  /* The width and height of the Container element are auto and 600px. */
  width: auto;
  height: 600px auto;
  position: relative;
}

.box {
  /* Each box is 100x150 pixels (color: #eeeff2), with a 10px dotted line (color: #D0D0FF) on the left. 
     */
}

.box:hover {
  /* When hovering over an box, the box and font colors change (colors: yellow, goldenrod, respectively). */
}

.align {
  /* Boxes are separated by 10 pixels of space. */
}

.font {
  /* The font in all elements is Tahoma, 40 pixels. */
}

span {
  /* The distance between lines of text is 2. 
    There are 10 pixels of space between the letters and the edge of the box. */
}

/* Add a new class to style the box "F" is positioned in the bottom right corner of the container element and stays there even when the window resizes. */
